/* Reset */
body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Niramit', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.pageTitle {
  margin-top: 1em;
}

.row {
  margin: 2em 0em;
}

/* Navbar */
.navbar {
  font-family: 'Niramit', sans-serif;
  padding: 0em 1em;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #FDFAFA;
}

.navbar-brand:hover {
  color: #3A171A;
}

.nav-link:hover {
  color: #3A171A;
}

/* Cards */
.card {
  margin: 2em 0em;
}

.card-title {
  font-weight: 500;
}

/* Buttons */
.btn {
  padding: 0rem .75rem;
  margin-bottom: 1em;
}

/* Front page */
.front-page-banner{
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-text {
  min-height: 450px;
}

.home-image-size, .background-img{
  width: 100%;
  min-height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font-md {
  font-weight: 500;
}

.clear-both{
  clear: both;
}

.mr-3 {
  width: 64px !important;
  height: auto !important;
}

.margin-auto {
  margin: 0 auto;
}

.media {
  margin-bottom: 1em;
}
