/* Reset */
body {
  background-color: #FDFAFA;
  color: #3A171A;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Niramit', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.row {
  margin: 2em 0em;
}

/* Navbar */
.navbar {
  background-color: #DC544B;
  font-family: 'Niramit', sans-serif;
  padding: 0px;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #FDFAFA;
}

.navbar-brand:hover {
  color: #3A171A;
}

.navbar-nav .nav-link{
  color: #FDFAFA;
}

.navbar-nav .nav-link:hover {
  color: #3A171A;
}

/* Cards */
.card {
  background-color: #F2F2F6;
  border: 1px solid #2969A9;
  color: #3A171A;
  margin: 2em 0em;
}

.card-title {
  font-weight: 500;
}

/* Buttons */
.btn {
  padding: 0rem .75rem;
}

.blue-btn {
  background-color: #2969A9;
  color: #FDFAFA;
}

.blue-btn:hover {
  background-color: #FDFAFA;
  color: #3A171A;
}

/* Front page */
.front-page-banner{
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-text {
  min-height: 450px;
}

.home-image-size, .background-img{
  width: 100%;
  min-height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
