/* Reset */
body {
  background-color: #FDFAFA;
  color: #3A171A;
  font-family: 'Niramit', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #DC544B;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #FDFAFA;
}

.navbar-brand:hover {
  color: #3A171A;
}

.navbar-nav .nav-link{
  color: #FDFAFA;
}

.navbar-nav .nav-link:hover {
  color: #3A171A;
}

/* Buttons */
.btn {
  padding: 0rem .75rem;
}

.blue-btn {
  background-color: #2969A9;
  color: #FDFAFA;
}

.blue-btn:hover {
  background-color: #FDFAFA;
  color: #3A171A;
}

/* Front page */
.front-page-banner{
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-image-size{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
